@font-face {
  font-family: 'Clashgrotesk';
  src: url('./fonts/ClashGrotesk_Complete/Fonts/WEB/fonts/ClashGrotesk-Bold.eot');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Bold.ttf');
}
